
<h1>Form</h1>
<div class="form">
    <div>
        <label>Title</label>
        <input />
    </div>
    <div>
        <label>Title</label>
        <input />
    </div>
    <div>
        <label>Title</label>
        <input />
    </div>
    <div class="form-buttons">
        <button>Save</button>
        <button>Delete</button>
    </div>
</div>
