<html>
    <head>
        <link rel="stylesheet" href="howdyHoNeighbor.css">
    </head>
    <body>
        <div class="page">
             <%= setInclude(include) %>
            <%- Menu() %>
            <%- Form() %>
        </div>
    </body>
</html>


